@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr><th>Department</th></tr>
    <tr id="departments">
        
    </tr>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/Departments/GetDepartments",
                success: function (response) {
                    
                    var result = "";
                    var departments = $("#departments");
                    

                    $(response).each(function () {
                        result += '<tr><td><p>' + this.DepartmentName + '</p></td></tr>';
                        $("#departmentName").text(this.DepartmentName)
                    })
                    departments.html(result);
                }
            })
        })
    </script>
}
